<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ9lcW_pVHv8YUjWy6uLAvdqPayKqT_D8</string>
	<key>GCM_SENDER_ID</key>
	<string>429421044304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.duAn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodkfc-8e803</string>
	<key>STORAGE_BUCKET</key>
	<string>foodkfc-8e803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429421044304:ios:3fb4f1a950498035f82755</string>
</dict>
</plist>